// 字型大小
$font-tiny: 14px;
$font-small: 16px;
$font-medium: 20px;
$font-h1: 40px;
$font-h2: 32px;
$font-h3: 24px;
// 字型粗細
$font-w1: 100;
$font-w2: 200;
$font-w3: 300;
$font-w4: 400;
$font-w5: 500;
$font-w6: 600;
$font-w7: 700;
$font-w8: 800;
$font-w9: 900;
$font-wb: bold;
// 配色
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey01: #8D8D8D;
$color-grey02: #E0E0E0;
$color-khaki01: #AC8A46;
$color-khaki02: #916019;
$color-khaki03: #916000;